.wrapper {
  width: 100%;
  min-height: 100dvh;

  padding: var(--spacing-sm) var(--spacing-md);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  &[data-centered] {
    justify-content: center;
    align-items: center;
  }
}
