.slider {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);

  width: 300px;
}

.output {
  display: flex;
  justify-content: space-between;

  font-size: var(--font-size-sm);
}

.track {
  grid-area: track;
  position: relative;

  /* track line */
  &:before {
    content: "";

    transform: translateY(-50%);
    position: absolute;
    top: 50%;

    width: 100%;
    height: 3px;

    background: var(--color-muted);
    border-radius: var(--radius-xs);
  }
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(&[data-disabled]) {
    cursor: pointer;
  }

  &[data-dragging] .innerThumb {
    scale: 0.9;
  }
}

.innerThumb {
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 50%;
  background: var(--color-primary);

  transition: scale 200ms;

  &:hover {
    background: color-mix(
      in srgb,
      var(--color-primary) 80%,
      var(--color-background)
    );
  }
}
