.wrapper {
  width: 100%;
  height: 100vh;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
}

.inner {
  display: flex;
  gap: var(--spacing-sm);
}
