.wrapper {
  min-height: 100dvh;

  overflow-x: hidden;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar {
  /* This is needed so that "width: 100%" elements can't push it. */
  min-width: 56px;

  width: 56px;
  height: 100vh;

  background: var(--color-primary);

  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    display: none;
  }
}

.sidebarLink {
  aspect-ratio: 1 / 1;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  &:first-of-type {
    margin-top: auto;
  }
}

.header {
  @media (min-width: 768px) {
    display: none;
  }
}

.topbar {
  width: 100%;
  height: 56px;

  padding: var(--spacing-md);

  background: var(--color-primary);

  display: flex;
  align-items: center;
}

.navbar {
  background: var(--color-secondary);

  padding: var(--spacing-md);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.navbarLink {
  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
