.wrapper {
  min-height: 100dvh;

  overflow-x: hidden;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.sidebar {
  /* This is needed so that "width: 100%" elements can't push it. */
  min-width: 56px;

  width: 56px;
  height: 100vh;

  background: var(--color-primary);

  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    display: none;
  }
}

.sidebarLink {
  aspect-ratio: 1 / 1;
  margin: var(--spacing-sm);
  border-radius: var(--radius-sm);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  &:first-of-type {
    margin-top: auto;
  }
}

.sidebarLinkActive {
  background-color: white;
  color: var(--color-primary);
}

.header {
  @media (min-width: 768px) {
    display: none;
  }
}

.topbar {
  width: 100%;
  height: 56px;

  padding: var(--spacing-md);

  background: var(--color-primary);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  max-height: 0;
  overflow: hidden;

  background: var(--color-secondary);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  transition: max-height 200ms;

  &[data-open="true"] {
    max-height: 150px;
  }
}

.navbarLink {
  margin: 0 var(--spacing-sm);
  margin-top: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--spacing-xs);

  color: white;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  &:hover {
    background: var(--color-secondary);
  }

  &:last-of-type {
    margin-bottom: var(--spacing-sm);
  }
}

.navbarLinkActive {
  background: var(--color-primary);

  &:hover {
    background: var(--color-primary);
  }
}
