.switch {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  &:hover .indicator {
    background: color-mix(in srgb, var(--color-muted) 80%, transparent);

    &::before {
      background: color-mix(in srgb, var(--color-foreground) 80%, transparent);
    }
  }

  &[data-pressed] .indicator::before {
    scale: 0.9;
  }

  &[data-selected] {
    .indicator {
      background: var(--color-primary);

      &::before {
        background: var(--color-background);
        margin-left: 1.3rem;
      }
    }

    &:hover .indicator {
      background: color-mix(in srgb, var(--color-primary) 80%, transparent);

      &::before {
        background: color-mix(in srgb, var(--color-background) 80%, black);
      }
    }

    &[data-pressed] .indicator::before {
      scale: 0.9;
    }
  }
}

.indicator {
  width: 2.5rem;
  height: 1.375rem;

  background: var(--color-muted);
  border-radius: 1.25rem;

  display: flex;
  align-items: center;

  transition: background-color 200ms;

  &:not(&[data-disabled]) {
    cursor: pointer;
  }

  &:before {
    content: "";
    margin-left: 0.2rem;

    width: 1rem;
    height: 1rem;

    background: var(--color-foreground);
    border-radius: 1.25rem;

    transition:
      background-color 200ms,
      margin 200ms,
      scale 200ms;
  }
}
