.wrapper {
  width: 100%;
  display: flex;
}

.sidebar {
  /* This is needed so that "width: 100%" elements can't push it. */
  min-width: 256px;

  width: 256px;
  height: 100vh;

  padding: var(--spacing-md);

  background: var(--color-secondary);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  @media (max-width: 768px) {
    /* TODO: Find a better way to remove the scrollbar width. */
    min-width: 100%;
    width: 100%;

    height: fit-content;
  }
}

.sidebarHeader {
  font-size: var(--font-size-lg);
  font-weight: bolder;

  padding-bottom: var(--spacing-sm);
}

.sidebarLink {
  color: var(--color-foreground);
  text-decoration: none;

  padding: var(--spacing-sm);

  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.active {
  background: var(--color-primary);
}
