.wrapper {
  width: 100%;
  display: flex;
}

.sidebar {
  /* This is needed so that "width: 100%" elements can't push it. */
  min-width: 256px;

  width: 256px;
  height: 100vh;

  background: var(--color-secondary);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  @media (max-width: 768px) {
    /* TODO: Find a better way to remove the scrollbar width. */
    min-width: 100%;
    width: 100%;

    height: fit-content;

    &[data-open="false"] {
      min-width: 0;
      width: 0;
    }
  }
}

.sidebarHeader {
  font-size: var(--font-size-lg);
  font-weight: bolder;

  margin: var(--spacing-sm);
}

.sidebarLink {
  color: var(--color-foreground);
  text-decoration: none;

  margin-top: var(--spacing-sm);
  margin: 0 var(--spacing-sm);
  padding: var(--spacing-sm);

  border-radius: var(--radius-sm);

  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  &:last-of-type {
    margin-bottom: var(--spacing-sm);
  }
}

.active {
  background: var(--color-primary);
}
