.field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  &[data-invalid] .input {
    outline: 2px solid var(--color-danger);
  }
}

.inner {
  display: flex;
  gap: var(--spacing-xs);
}

.input {
  padding: var(--spacing-sm) var(--spacing-md);

  border: 0;
  border-radius: var(--radius-sm);

  background: var(--color-secondary);

  resize: none;

  &::placeholder {
    color: var(--color-muted);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

.errorMessage {
  color: var(--color-danger);
  font-size: var(--font-size-sm);
}
