.wrapper {
  width: 100%;
  min-height: 100dvh;

  padding: var(--spacing-sm) var(--spacing-md);

  display: flex;
  flex-direction: column;

  &[data-centered="true"] {
    justify-content: center;
    align-items: center;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-md);
}
